$base-font-size: 18px;

@mixin ph {
    @media (max-width: 700px) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-size: $base-font-size;
    font-family: Arial, serif;
    line-height: 1.5;
    @include ph {
        color: #fff;
        background: #000;
    }
}

.img-box{
    max-width: 444px;
    img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

@import "block/*.scss";
