extends layout/app

block page
    include chunk/header
    div
        h1.title  Home Page > ES6!
        ul.news
           each item in news
              li.news_item= item.name
        p  Hello Word

    div.img-box
        img(src="img/img_1.jpg", alt='photo')

    a(href="#", title="test") tests
    button Title
    include chunk/footer
